<div class="mapoutroad">

    <div class="content">

        <div class="header" routerLink="/modulo">
            <img src="assets/images/logo-its-cor.png" alt="ITS Service Intelligent Technology Solutions" >
        </div>

        <div class="barra-top"></div>

        <div class="barra-top-menu">
            <div class="row">
                <div class="col-sm-6 cell1" routerLink="/modulo">
                    <i class="fa fa-th fa-lg"></i>
                </div>
                <div class="col-sm-6 cell2" (click)="logoof()">
                    <i class="fa fa-power-off fa-lg"></i>
                </div>
            </div>
        </div>

        <div class="barra-top-main-menu">
            <div class="row">
                <div class="col-xs-12 col-sm-12 cell2" routerLink="/outroad">
                    <i class="fa fa-external-link fa-lg"></i>
                </div>
            </div>
        </div>

    </div>

    <div id="map"></div>

</div>
