.thead-dark{
    tr{
        th{
            font-size: 14px!important;
            text-align: center!important;
        }
    }
}
tbody{
    tr.sub-row{
        font-size: 13px!important;
        th,td{
            cursor: pointer;
            span {
                visibility: hidden;
            }

            &.active {
                color: #000;

                span {
                    visibility: visible;
                }
            }
        }
    }
}
div.btn{
    border-radius: 50%;
    border-color: #000;
    background-color: #fff;
    color: #2a2a2a;
    box-shadow: 2px 2px 4px #000000;
}
