.graficos{
    .menus{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding: 0;
        margin: 0;
        width: 55%;
        margin-top: 130px;
        padding-bottom: 30px;
        //margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        div.f-btn{
            text-align: center;
            color: #666;
            font-size: 12px;
            cursor: pointer;
            &:hover{
                color: #f2842a!important;
            }
        }
        .active{
            color: #f2842a!important;
        }
    }
    .fixed{
        position: sticky!important;
        top: 0!important;
        z-index: 96;
        box-shadow: 0 1px 0 #000000;
    }
    .rotulo{

        position: relative;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
        padding: 0;
        margin: 0;
        width: 70%;
        height: 60px;
        line-height: 60px;
        border-radius: 30px;
        background-color: #ccc;
        z-index: 97;
        .icone{
            text-align: right;
        }
    }
    .options{
        padding: 0;
        margin: 0;
        padding-top: 60px;
        padding-left: 30px;
        height: 150px;
        background-color: #f6f6f6;
        .btn-primary{
            background-color: #f2842a;
            border: 1px solid #f2842a;
        }
    }
    .barra-descript{
        position: relative;
        top: 30px;
        left: 20px;
        width: 200px;
    }
    div.barra-top{
        position: fixed;
        top: 0;
        background-color: #f2842a;
        width: 100%;
        height: 12px;
        z-index: 95;
        border-bottom: 1px #ccc solid;
    }
    div.barra-top-menu,div.barra-top-main-menu{
        position: fixed;
        top: 0;
        left: 80%;
        background-color: #f2842a;
        color: #f6f6f6;
        width: 130px;
        height: 50px;
        z-index: 99;
        border-bottom: 1px #ccc solid;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        .row{
            padding-top: 15px;
            margin: 0!important;
            .cell1{
                //padding-left: 27px;
                border-right: 1px solid #ccc;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #000;
                }
            }
            .cell2{
                //padding-right: 27px;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: #000;
                }
            }
        }
    }
    div.barra-top-main-menu{
        left: 130px;
        width: 100px;
    }
    div.header{
        background-color: #fff;//#f2842a;//#fff;//#f6f6f6;
        width: 230px;
        height: 200px;
        position: fixed;
        top: -145px;
        left: 50%;
        transform: translate(-50%);
        z-index: 999;
        border-radius: 7px;
        box-shadow: 1px 1px 4px #f2842a;
        cursor: pointer;
        //opacity: 0.7;
        img{
            position: absolute;
            top: 130px;
            left: 50%;
            transform: translate(-50%);
            width: 50%;
        }
        &:hover{}
    }
    div.btn{
        border-radius: 50%;
        border-color: #000;
        background-color: #fff;
        color: #2a2a2a;
        box-shadow: 2px 2px 4px #000000;
    }
    .green{
        background-color: #106e19;
    }
    .ambar{
        background-color: #e09f0d;
    }
    .red{
        background-color: #d92f11;
    }
    div.graph{
        //margin-top: 50px!important;
        //margin-bottom: 50px!important;
    }
    div.graph.main{
        margin-top: 30px!important;
        //margin-bottom: 130px!important;
    }
    div.main-menu,div.main-vehicle,div.main-line,div.main-gps,div.main-sinotico{

        position: fixed;
        background-color: #fff;
        top: 0;
        left: -5px;
        height: 99.8vh;
        width: 0;
        border: #ffa60f solid 1px;
        z-index: 98;
        overflow: hidden;
        .container{

            padding-top: 20px;
            margin-left: 10px;
            margin-right: 10px;

            .row{

                margin-bottom: 20px;
                input{ max-width: 165px;}
                .ceil{
                    padding: 2px;
                }
                .ceil-left{
                    border: 2px #000 solid;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                }
                .ceil-right{
                    border: 2px #000 solid;
                    border-top-right-radius:  30px;
                    border-bottom-right-radius: 30px;
                }
            }
        }
        .title{
            text-align: center!important;
            background-color: #2c2e2d;
            color: #fff;
        }
        .topo{

            background-color: #ffa60f;
            width: 100%;
            height: 100px;
            padding-top: 60px;

            label{
                text-align: center;
                width: 100%;
                height: 100px;
            }
        }
        //opacity: 0.7;
        transition: 0.1s;
        box-shadow: 2px 2px 4px #000000;
        &:hover{
            //opacity: 1;
        }
    }
    .text-label{
        padding: 0;
        text-align: right;
        padding-right: 35px;
    }
    .parametro{
        div{
            padding: 0;
            margin: 0;
            //margin-left: 5px;
            input{
                max-width: 100px!important;
            }
        }
    }
    .footer{

        position: sticky;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #000;
        color: white;
        text-align: center;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        &:hover{
            background-color: #f2842a;
        }
    }
}
