<div class="graficos">

    <div class="content">

        <div class="header" routerLink="/modulo">
            <img src="assets/images/logo-its-cor.png" alt="ITS Service Intelligent Technology Solutions" >
        </div>

        <div class="barra-top"></div>

        <div class="barra-top-menu">
            <div class="row">
                <div class="col-sm-6 cell1" routerLink="/modulo">
                    <i class="fa fa-th fa-lg"></i>
                </div>
                <div class="col-sm-6 cell2" (click)="logoof()">
                    <i class="fa fa-power-off fa-lg"></i>
                </div>
            </div>
        </div>

        <div class="barra-top-main-menu">
            <div class="row">
                <div class="col-xs-12 col-sm-12 cell2" (click)="open('vopen')" [class.actived]="vopen">
                    <i class="fa fa-adjust fa-lg"></i>
                </div>
            </div>
        </div>
        <div class="main-vehicle" [style.width.px]="vopen">

            <div class="topo">
                <label>PARÂMETROS</label>
            </div>

            <div class="title">
                selecione os parâmetros desejados
            </div>

            <div class="container">
                <div class="row parametro">
                    <div class="flex-column col-xs-12 col-sm-4">
                        <label>abaixo de:</label>
                        <input type="number" class="form-control" [(ngModel)]="param.abaixoD">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4">
                        <label>entre:</label>
                        <input type="text" class="form-control" [(ngModel)]="param.entreD" readonly>
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4">
                        <label>acima de:</label>
                        <input type="number" class="form-control" [(ngModel)]="param.acimaD">
                    </div>
                </div>
            </div>

            <div class="title">
                selecione os pesos desejados
            </div>

            <div class="container peso">

                <div class="row">
                    <div class="flex-column col-xs-12 col-sm-8">
                        <label>velocidade excessiva:</label>
                        <input type="range" class="form-control-range" [(ngModel)]="param.pEv1" min="0.1" max="5" step="0.1">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4 text-label">
                         Peso: {{ param.pEv1 }}
                    </div>
                </div>

                <div class="row">
                    <div class="flex-column col-xs-12 col-sm-8">
                        <label>rotação excessiva:</label>
                        <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="param.pEv2" min="0.1" max="15" step="0.1">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4 text-label">
                        Peso: {{ param.pEv2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="flex-column col-xs-12 col-sm-8">
                        <label>freada brusca:</label>
                        <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="param.pEv3" min="0.1" max="15" step="0.1">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4 text-label">
                        Peso: {{ param.pEv3 }}
                    </div>
                </div>

                <div class="row">
                    <div class="flex-column col-xs-12 col-sm-8">
                        <label>fora da faixa econômica:</label>
                        <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="param.pEv4" min="0.1" max="1" step="0.1">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4 text-label">
                        Peso: {{ param.pEv4 }}
                    </div>
                </div>

                <div class="row">
                    <div class="flex-column col-xs-12 col-sm-8">
                        <label>marcha lenta excessiva:</label>
                        <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="param.pEv5" min="0.1" max="20" step="0.1">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4 text-label">
                        Peso: {{ param.pEv5 }}
                    </div>
                </div>

                <div class="row">
                    <div class="flex-column col-xs-12 col-sm-8">
                        <label>arrancada brusca:</label>
                        <input type="range" class="form-control-range" id="formControlRange" [(ngModel)]="param.pEv7" min="0.1" max="20" step="0.1">
                    </div>
                    <div class="flex-column col-xs-12 col-sm-4 text-label">
                        Peso: {{ param.pEv7 }}
                    </div>
                </div>
                <div class="row space"></div>
            </div>
            <div class="footer" (click)="ajustar(param)">
                confirmar
            </div>
        </div>
        <div class="row menus">

            <div class="col-sm-4 f-btn" routerLink="/telemetria-erro" [class.active]="site=='erros'">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-exclamation fa-lg"></i>
                    </div>
                    <div class="col-sm-12">
                        Violações
                    </div>
                </div>
            </div>

            <div class="col-sm-4 f-btn" routerLink="/telemetria-ranking" [class.active]="site=='rank'">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-percent fa-lg"></i>
                    </div>
                    <div class="col-sm-12">
                        Aproveitamento
                    </div>
                </div>
            </div>

            <div class="col-sm-4 f-btn" routerLink="/telemetria-grafico" [class.active]="site=='graficos'">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="fa fa-line-chart fa-lg"></i>
                    </div>
                    <div class="col-sm-12">
                        Indicadores
                    </div>
                </div>
            </div>
        </div>

        <div class="row rotulo">
            <div class="col-sm-1 icone">
                <i class="fa fa-calendar-check-o fa-lg"></i>
            </div>
            <div class="col-sm-11">
                Indicadores de Aproveitamento
            </div>
        </div>

        <div class="form-wrapper">
            <div class="container-fluid">

                <div class="fixed">
                    <div class="row options">
                        <!-- Parametrização -->
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-inline periodo">

                                <label class="col-xs-12">Período</label>
                                <!-- Data Inicio -->
                                <div class="flex-column col-xs-12">
                                    <input type="date" class="form-control" [(ngModel)]="telemetry.time_a">
                                </div>

                                <!-- Data Fim -->
                                <div class="flex-column col-xs-12">
                                    <input type="date" class="form-control" [(ngModel)]="telemetry.time_b">
                                </div>

                                <!-- Confirmar -->
                                <button class="btn btn-primary" (click)="gerar(telemetry)">Gerar Relatório</button>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row graph main">

                    <div class="col-xs-12 col-sm-1"></div>
                    <div class="col-xs-12 col-sm-10">

                        <div class="card">
                            <h2 style="text-align:center"> Visão Geral da Empresa </h2>
                            <canvas baseChart
                                  [data]="polarAreaChart.geral.data"
                                  [labels]="polarAreaChart.geral.labels"
                                  [legend]="polarAreaChart.geral.legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColorsGeral"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-1"></div>

                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-4 graph">

                        <div class="card">

                            <h4 style="text-align:center"> Velocidade Excessiva </h4>

                            <canvas baseChart
                                  [data]="polarAreaChart['1'].data"
                                  [labels]="polarAreaChart['1'].labels"
                                  [legend]="polarAreaChart['1'].legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColors"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 graph">

                        <div class="card">
                            <h4 style="text-align:center"> Rotação Excessiva </h4>

                            <canvas baseChart
                                  [data]="polarAreaChart['2'].data"
                                  [labels]="polarAreaChart['2'].labels"
                                  [legend]="polarAreaChart['2'].legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColors"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 graph">

                        <div class="card">

                            <h4 style="text-align:center"> Freada Brusca </h4>

                            <canvas baseChart
                                  [data]="polarAreaChart['3'].data"
                                  [labels]="polarAreaChart['3'].labels"
                                  [legend]="polarAreaChart['3'].legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColors"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-4 graph">

                        <div class="card">
                            <h4 style="text-align:center"> Fora da Faixa Econômica </h4>

                            <canvas baseChart
                                  [data]="polarAreaChart['4'].data"
                                  [labels]="polarAreaChart['4'].labels"
                                  [legend]="polarAreaChart['4'].legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColors"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-4 graph">

                        <div class="card">
                            <h4 style="text-align:center"> Marcha Lenta Excessiva </h4>

                            <canvas baseChart
                                  [data]="polarAreaChart['5'].data"
                                  [labels]="polarAreaChart['5'].labels"
                                  [legend]="polarAreaChart['5'].legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColors"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-4 graph">

                        <div class="card">
                            <h4 style="text-align:center"> Arrancada Brusca </h4>

                            <canvas baseChart
                                  [data]="polarAreaChart['7'].data"
                                  [labels]="polarAreaChart['7'].labels"
                                  [legend]="polarAreaChart['7'].legend"
                                  [chartType]="polarAreaChartType"
                                  [colors]="lineChartColors"
                                  (chartHover)="chartHovered($event)"
                                  (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
